{% extends 'base.html' %}

{% block title %} To-Do List  - About Me
{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert">
<h1> About To-Do-List_App <h1>
</div>
	<br/>
 
 	<div class="alert alert-warning aler-dismissable" role="alert">
	<h3> One of the most important reasons for keeping a to-do list is the organization. </h3>
	<h3>    Organizing your tasks with a list can make everything much more manageable.</h3>
	<h3>        Seeing a clear outlione of your complete and uncompleted tasks will</h3>
	<h3>             help you feel organized and stay mentally focused!</h3>
	</div>
	<br/>

<div class="alert alert-info" role="alert">
<h1> Happy Organizing!<h1>
</div>
	
{% endblock %}


